.favorites-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

.favorites-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-category {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.remove-btn {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background: #b94e4e;
    font-weight: bold;
}

.remove-btn:hover {
    opacity: .8;
}
